/* Player */
.player {
  background-color: gray;
  box-shadow: 2px 2px 1rem black;
  max-width: 1280px;
  min-width: 320px;
}

.video {
  width: 100%;
  cursor: pointer;
}

/* Controls */
.controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.controls > * {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
}

.button i {
  font-size: 2rem;
}

.progress {
  flex-grow: 1;
}

.timestamp {
  font-size: 1.2rem;
}
