/* Player */
.player {
  background-color: rgb(172, 168, 168);
  box-shadow: 2px 2px 1rem black;
  border-radius: 10px;
  max-width: 1280px;
  min-width: 320px;
}

.video {
  width: 100%;
  cursor: pointer;
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
}

/* Controls */
.controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.controls > * {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
}

.button i {
  font-size: 2rem;
}

.volume {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 15%; 
  height: 10; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #b81803; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.timestamp {
  font-size: 1.2rem;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.video-info {
  opacity: 1;
  border: #000 solid 2px;
  height: 100%;
  width: 300px;
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  box-shadow: 2px 2px 1rem black;
}

.video-info h5 {
  margin: 10px;
  font-size: 1.2rem;
  color: lightgray;
}

.agent-image {
  margin: 10px;
  display: inline-block;

  text-align: center;
}

.agent-image img {
  object-fit: cover;
  background-color: aquamarine;
  border: 2px solid black;
}

.agent-info {
  display: block;
  display: inline-block;
  text-align: center;
}

#agent-bio {
  color: lightgray;
  font-size: 0.8rem;
  line-height: 15px;
  text-align: center;
}

.progress-wrapper {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 20;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.breakpoint {
  height: 20px;
}

.breakpoint:not(:first-child) {
  border-left: 2px solid green;
}

.progress {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  position: relative;
  flex-grow: 1;
  height: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 5px;
  background: #b81803; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.hidden {
  visibility: hidden;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ff4457;
  float: left;
  width: 25rem;
}
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 20rem;
  height: auto;
  margin: 2rem;
}

div.desc {
  text-align: center;
}

#video-selector{
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(227, 240, 230);
  border: 0.25rem solid #ff4457;
  border-radius: 0.5rem;
  overflow-y: scroll;
  height: 50rem;
  width: 75rem;
  margin-left: -10rem;
}