
Proves/template/videos/file_example_MP4_1920_18MG.mp4

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
Valorant_4K.avi
Valorant_4K.mkv
Valorant_4K.mp4
